<a href="https://colab.research.google.com/github/07gaura/ML-Learning/blob/main/sortingDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
people = {
    'first': ['gaurav','pranay','kunal','akash'],
    'last': ['lokhande','pawar','pawar','sahu'],
    'email':['gaurav@gmail.com','pranay@gmail.com','kunal@gmail.com','akash@gmail.com']
}

In [3]:
import pandas as pd

In [13]:
df = pd.DataFrame(people)

In [5]:
df

    first      last             email
0  gaurav  lokhande  gaurav@gmail.com
1  pranay     pawar  pranay@gmail.com
2   kunal     pawar   kunal@gmail.com

In [8]:
df.sort_values(by='last',ascending=False)

    first      last             email
1  pranay     pawar  pranay@gmail.com
2   kunal     pawar   kunal@gmail.com
0  gaurav  lokhande  gaurav@gmail.com

In [10]:
df.sort_values(by=['last','first'],ascending = False)

    first      last             email
1  pranay     pawar  pranay@gmail.com
2   kunal     pawar   kunal@gmail.com
0  gaurav  lokhande  gaurav@gmail.com

In [15]:
df.sort_values(by=['last','first'],ascending = [False,True],inplace=True)

In [16]:
df2 = pd.read_csv('survey_results_public.csv')

In [17]:
df2.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [22]:
df2.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [30]:
df2.sort_values(by=['Country','ConvertedComp'],ascending=[False,True], inplace=True)

In [31]:
df2['Country'].head()

14137    Zimbabwe
9458     Zimbabwe
15268    Zimbabwe
12770    Zimbabwe
12000    Zimbabwe
Name: Country, dtype: object

In [32]:
df2[['Country','ConvertedComp']].head(50)

        Country  ConvertedComp
14137  Zimbabwe         7200.0
9458   Zimbabwe       180000.0
15268  Zimbabwe            NaN
12770  Zimbabwe            NaN
12000  Zimbabwe            NaN
9124   Zimbabwe            NaN
10896    Zambia            NaN
8744     Zambia            NaN
14168    Zambia            NaN
8041      Yemen            NaN
5532   Viet Nam         1296.0
11657  Viet Nam         2064.0
7349   Viet Nam         5172.0
8133   Viet Nam         5952.0
8853   Viet Nam         6468.0
5604   Viet Nam         6732.0
10206  Viet Nam         7764.0
7102   Viet Nam         8280.0
6890   Viet Nam         9312.0
5263   Viet Nam         9312.0
9917   Viet Nam         9600.0
5767   Viet Nam         9828.0
7758   Viet Nam        10344.0
6205   Viet Nam        11904.0
15388  Viet Nam        12936.0
5240   Viet Nam        13452.0
14484  Viet Nam        13598.0
2465   Viet Nam        15528.0
10179  Viet Nam        15528.0
5786   Viet Nam        15600.0
8512   Viet Nam        18000.0
15418  Viet Nam        21732.0
5237   Viet Nam        25872.0
12895  Viet Nam        25872.0
7076   Viet Nam        31044.0
6796   Viet Nam        31044.0
6774   Viet Nam        38808.0
7152   Viet Nam        42948.0
6782   Viet Nam       110000.0
13997  Viet Nam       120000.0
6769   Viet Nam       144000.0
6964   Viet Nam      1000000.0
6875   Viet Nam            NaN
6559   Viet Nam            NaN
10212  Viet Nam            NaN
5868   Viet Nam            NaN
9760   Viet Nam            NaN
5256   Viet Nam            NaN
11099  Viet Nam            NaN
7654   Viet Nam            NaN

In [33]:
df2['ConvertedComp'].nlargest(10)

4011     2000000.0
14062    2000000.0
722      2000000.0
15505    2000000.0
697      2000000.0
15478    2000000.0
191      2000000.0
4459     2000000.0
816      2000000.0
3932     2000000.0
Name: ConvertedComp, dtype: float64

In [34]:
df2.nlargest(10,'ConvertedComp')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4011,4027,I am a developer by profession,Yes,29.0,16,Weekly,120000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",Django;Flask,Django;Flask;jQuery,Somewhat more welcome now than last year,45.0,10,6
14062,14105,I am a developer by profession,Yes,41.0,15,Weekly,133000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,25,20
722,724,"I am not primarily a developer, but I write co...",Yes,NaN,12,Weekly,103000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,React.js,Not applicable - I did not use Stack Overflow ...,40.0,3,3
15505,15556,I am a developer by profession,Yes,36.0,10,Weekly,98000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,15,26
697,699,"I am not primarily a developer, but I write co...",Yes,39.0,16,Weekly,52000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET;ASP.NET Core;Express;Flask,NaN,NaN,40.0,5,2
15478,15529,I am a developer by profession,No,27.0,15,Weekly,119000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails;Vue.js,jQuery;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,11,6
191,193,I am a developer by profession,Yes,29.0,16,Weekly,120000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,7
4459,4475,I am a developer by profession,Yes,33.0,12,Weekly,110000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,Web development or web design,ASP.NET;ASP.NET Core;Gatsby;Laravel;React.js;V...,Angular;ASP.NET;Gatsby;jQuery;Laravel;React.js,Just as welcome now as I felt last year,45.0,15,10
816,818,"I am not primarily a developer, but I write co...",Yes,40.0,15,Weekly,70000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",Angular;Flask;Spring,NaN,Somewhat less welcome now than last year,40.0,25,2
3932,3948,I am a developer by profession,Yes,25.0,18,Weekly,70000.0,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Express;React.js;Vue.js,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,40.0,6,3

In [35]:
df2.nsmallest(10,'ConvertedComp')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
122,124,I am a developer by profession,No,38.0,14,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Too short,No,"A humanities discipline (such as literature, h...",NaN,NaN,Somewhat less welcome now than last year,60.0,24,19
4139,4155,I am a developer by profession,Yes,NaN,7,Yearly,0.0,0.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,60.0,27,12
236,238,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Too long,No,NaN,jQuery;React.js,jQuery,NaN,12.0,4,2
4326,4342,I am a developer by profession,No,60.0,12,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,48,45
3842,3857,I am a developer by profession,Yes,30.0,6,Yearly,0.0,0.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js;Symfony,Just as welcome now as I felt last year,35.0,24,8
2239,2248,I am a developer by profession,No,NaN,12,Yearly,0.0,0.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,Flask,A lot less welcome now than last year,35.0,12,12
1785,1794,I am a developer by profession,Yes,NaN,8,Yearly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,ASP.NET,ASP.NET,NaN,55.0,2,9
11784,11823,I am a developer by profession,Yes,39.0,9,Weekly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Not applicable - I did not use Stack Overflow ...,NaN,30,20
2314,2323,I am a developer by profession,Yes,NaN,15,Yearly,0.0,0.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Angular,Angular;Angular.js,Just as welcome now as I felt last year,45.0,38,22
5253,5272,I am a developer by profession,Yes,30.0,14,Weekly,0.0,0.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby;React.js;Vue.js,Django;Express;Flask;Gatsby;React.js;Ruby on R...,Just as welcome now as I felt last year,NaN,16,12