<a href="https://colab.research.google.com/github/07gaura/ML-Learning/blob/main/updaterows_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
people = {
    "first":["gaurav","kunal", "pranay"],
    "last": ["lokhande","pawar","pawar"],
    "email": ["gourav@gmail.com","kunal@gmail.com","pranay@gmail.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    first      last             email
0  gaurav  lokhande  gourav@gmail.com
1   kunal     pawar   kunal@gmail.com
2  pranay     pawar  pranay@gmail.com

In [6]:
df.columns = [x.upper() for x in df.columns]
df

    FIRST      LAST             EMAIL
0  gaurav  lokhande  gourav@gmail.com
1   kunal     pawar   kunal@gmail.com
2  pranay     pawar  pranay@gmail.com

In [11]:
df.columns = [x.lower() for x in df.columns]
df

    first      last             email
0  gaurav  lokhande  gourav@gmail.com
1   kunal     pawar   kunal@gmail.com
2  pranay     pawar  pranay@gmail.com

In [12]:
df.rename(columns={'first':'first_name','last':'last_name'},inplace=True)

In [13]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay     pawar  pranay@gmail.com

In [14]:
df.loc[2]=['Jittu','sen','jittu@gmail.com']

In [15]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2      Jittu       sen   jittu@gmail.com

In [17]:
df.loc[2,['first_name','last_name','email']]=['pranay','pawar','pranay@gmail.com']

In [18]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay     pawar  pranay@gmail.com

In [19]:
df.loc[2,'last_name']='dhakad'

In [20]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay    dhakad  pranay@gmail.com

In [23]:
filt = (df['email']=='pranay@gmail.com')
df[filt]['last_name']="pawar"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
filt = (df['email']=='pranay@gmail.com')
df.loc[filt,'last_name']="pawar"

In [25]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay     pawar  pranay@gmail.com

In [27]:
df['email']=df['email'].str.upper()

In [28]:
df

  first_name last_name             email
0     gaurav  lokhande  GOURAV@GMAIL.COM
1      kunal     pawar   KUNAL@GMAIL.COM
2     pranay     pawar  PRANAY@GMAIL.COM

In [29]:
df['email'].apply(len)

0    16
1    15
2    16
Name: email, dtype: int64

In [33]:
def update_email(email):
  return email.lower()

In [34]:
df['email']=df['email'].apply(update_email)

In [35]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay     pawar  pranay@gmail.com

In [42]:
df.apply(lambda x: x.min())

first_name              gaurav
last_name             lokhande
email         gourav@gmail.com
dtype: object

In [39]:
df.applymap(len)

   first_name  last_name  email
0           6          8     16
1           5          5     15
2           6          5     16

In [49]:
df.applymap(str.upper)

  first_name last_name             email
0     GAURAV  LOKHANDE  GOURAV@GMAIL.COM
1      KUNAL     PAWAR   KUNAL@GMAIL.COM
2     PRANAY     PAWAR  PRANAY@GMAIL.COM

In [50]:
df['first_name']=df['first_name'].replace({'GAURAV':'gaurav'})

In [51]:
df

  first_name last_name             email
0     gaurav  lokhande  gourav@gmail.com
1      kunal     pawar   kunal@gmail.com
2     pranay     pawar  pranay@gmail.com